/*
 *
 * _media_query.scss
 *
 */

/* ------------------------------------------------------------
 ブレイクポイント
------------------------------------------------------------ */
$pc: 1200px; // PC 
$tab: 960px; // タブレット
$sp: 768px;  // スマホ
$se: 500px;  // 小さいスマホ

/* ------------------------------------------------------------
 大きめPC
------------------------------------------------------------ */
@mixin wide-pc {
  @media (min-width: ($pc)) {
    @content;
  }
}

/* ------------------------------------------------------------
 PC
------------------------------------------------------------ */
@mixin pc {
  @media (max-width: ($pc - 1)) {
    @content;
  }
}

/* ------------------------------------------------------------
 タブレット
------------------------------------------------------------ */
@mixin tab {
  @media (max-width: ($tab - 1)) {
    @content;
  }
}

/* ------------------------------------------------------------
 スマートフォン
------------------------------------------------------------ */
@mixin sp {
  @media (max-width: ($sp - 1)) {
    @content;
  }
}

/* ------------------------------------------------------------
 小さいスマートフォン
------------------------------------------------------------ */
@mixin se {
  @media (max-width: ($se - 1)) {
    @content;
  }
}

/* ------------------------------------------------------------
 ホバーエフェクト
------------------------------------------------------------ */
@mixin hover {
  @media (min-width: ($sp)) {
    @content;
  }
}