// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// ブレークポイント
@import 'media_query';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

/*---------------------------------
独自リセット
---------------------------------*/
html {
    font-size: 100%; // 16px相当
    // font-size: 94%; // 15px相当
    // font-size: 87.5%; // 14px相当
    // font-size: 82%; // 13px相当
    // font-size: 75%; // 12px相当

    /* ゴシック体 */
    font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;

    @include tab {
        font-size: 94%; // 15px相当
    }
    @include sp {
        font-size: 87.5%; // 14px相当
    }
}
body {
    background: #fff;
}
a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}
a[href^="tel:"] {
    pointer-events: none;
}
p {
    line-height: 1.9;
}
ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
img {
    display: inline-block;
    vertical-align: bottom;
    max-width: none;
}
*:focus {
    outline: none;
}
button,
input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    border: none;
    outline: none;
    background: transparent;
}
textarea,
input[type="text"],
input[type="number"],
input[type="search"] {
    padding: 0;
    border: none;
    border-radius: 0;
    outline: none;
    background: none;
}

/*---------------------------------
共通部分
---------------------------------*/

/*  
app-wrapper
---------------------------------*/
.app-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*  
ヘッダー
---------------------------------*/
.header {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    border-bottom: #e6e6e6;
    .header__inner {
        max-width: 1120px;
        height: 56px;
        margin: auto;
        display: grid;
        grid-template-areas: "logo gnav usernav";
        grid-template-columns: auto 1fr auto;
        grid-column-gap: 32px;
        align-items: center;
        padding-right: 40px;
        padding-left: 40px;
        @include tab {
            padding-right: 24px;
            padding-left: 24px;
        }
        @include sp {
            padding-right: 0;
            padding-left: 0;
            justify-content: space-between;
            grid-template-columns: auto 1fr;
            grid-template-areas: 
            "logo usernav"
            "gnav gnav";
            height: 88px;
        }

    }
    .header__logo {
        grid-area: logo;
        color: #1a1a1a;
        font-weight: bold;
        font-size: 1.4rem;
        transition-duration: .2s;
        &:hover {
            opacity: .7;
        }
        @include sp {
            margin-left: 16px;
        }
    }
    .header__gnav {
        grid-area: gnav;
        height: 100%;
        // width: 100%;
        margin-left: auto;
        @include sp {
            overflow-x: visible;
            width: 100%;
        }

        ul {
            display: flex;
            list-style: none;
            height: 100%;
            align-items: center;
            margin-bottom: 0;
            @include sp {
                white-space: nowrap;
                padding: 0 16px;
                width: 100%;
                overflow-x: auto;
                -webkit-overflow-scrolling: touch;
                -ms-overflow-style: none;
                scrollbar-width: none; 
                &::-webkit-scrollbar {
                    display:none;
                }
            }
            li + li {
                margin-left: 32px;
            }
            a {
                color: #1a1a1a;
                font-size: .85rem;
                transition-duration: .2s;
                @include sp {
                }
                @include hover {
                    &:hover {
                        opacity: .7;
                    }
                }
            }
            li.cta {
                a {
                    background: #096fc8;
                    color: #fff;
                    padding: 4px 12px;
                    border-radius: 2px;
                }
            }
        }
    }
    .header__usernav {
        grid-area: usernav;
        position: relative;
        height: 100%;
        @include sp {
            margin-left: auto;
            margin-right: 16px;
        }
    }
    .header__usernav__thumb {
        border-radius: 50%;
        cursor: pointer;
        transition-duration: .2s;
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
        z-index: 9;
        transition-duration: .2s;
        &:hover {
            opacity: .7;
        }
        &::after {
            content: "\f0d7";
            font-family: "Font Awesome 5 Free";
            font-weight: bold;
            color: #1a1a1a;
            margin-left: 4px;
        }
        img {
            width: 40px;
            height: 40px;
            overflow: hidden;
            object-fit: cover;
            border-radius: 50%;
        }
    }
    .header__usernav__dropdown {
        position: absolute;
        right: 0;
        width: 240px;
        display: block;
        opacity: 0;
        pointer-events: none;
        background: #fff;
        border: 1px solid #dedede;
        padding: 16px 0;
        .head {
            display: flex;
            align-items: center;
            padding: 0 16px;
        }
        .thumb {
            border-radius: 50%;
            position: relative;
            img {
                width: 56px;
                height: 56px;
                overflow: hidden;
                object-fit: cover;
                border-radius: 50%;
                border: 1px solid #dedede;
            }
        }
        .username {
            font-size: .7rem;
            color: #313131;
            margin-left: 12px;
            span {
                font-weight: bold;
                font-size: 1.4em;
                margin-right: 2px;
            }
        }
        ul {
            margin-top: 16px;
            li {
                a {
                    color: #666;
                    font-size: .8rem;
                    position: relative;
                    padding: 12px 16px 12px 48px;
                    display: block;
                    transition-duration: .2s;
                    i {
                        position: absolute;
                        left: 16px;
                        top: 50%;
                        transform: translateY(-50%);
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
                a:hover {
                    background: #eee;
                }
            }
        }
    }
    .header__usernav__dropdown.is-active {
        opacity: 1;
        pointer-events: auto;
        z-index: 10;
    }
    .header__usernav__dropdown-bg {
        // background: transparent;
        background: rgba(0,0,0,.2);
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 8;
        pointer-events: none;
        opacity: 0;
        visibility: hidden;
        transition: .2s;
        &.is-active {
            opacity: 1;
            pointer-events: all;
            visibility: visible;
        }
    }
}
/*  
フッター
---------------------------------*/
.footer {
    background: #1e1e1e;
    .footer__inner {
        padding: 16px 40px;
        @include sp {
            padding: 12px 24px;
        }
        @include se {
            padding: 12px 16px;
        }
    }
    .footer__nav {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        .footer__nav__item {
            display: block;
            color: #fff;
            font-size: .85rem;
            transition-duration: .2s;
            @include hover {
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .footer__nav__item + .footer__nav__item {
            margin-left: 24px;
        }
    }
    .footer__copyright{
        margin-top: 12px;
        color: #fff;
        font-size: .7rem;
        text-align: center;
        line-height: 1.4;
    }
}
/*  
フローティングボタン
---------------------------------*/
.float-btn {
    position: fixed;
    right: 40px;
    bottom: 40px;
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.12), 0 6px 6px rgba(0,0,0,0.16);
    color: #313131;
    border-radius: 50%;
    background: #fff;
    font-weight: bold;
    z-index: 2;
    font-size: 1.2rem;
    transition-duration: .2s;
    @include hover {
        &:hover {
            background: #F6F9F9;
        }
    }
    @include sp {
        right: 32px;
        bottom: 32px;
        width: 48px;
        height: 48px;
    }
    @include se {
        right: 24px;
        bottom: 24px;
    }
}

/*---------------------------------
コンテンツ部分
---------------------------------*/
/*  
main
---------------------------------*/
.main {
    flex: 1;
    overflow-x: hidden;
    background: rgba(0, 0, 0, .05);
    margin-top: 56px;
    @include sp {
        margin-top: 88px;
    }
}
/*  
section
---------------------------------*/
.section {
    .section__inner {
        margin: auto;
        max-width: 880px;
        padding: 56px 40px;
        @include tab {
            padding-right: 24px;
            padding-left: 24px;
        }
    }
}
/*  
section-title
---------------------------------*/
.section-title {
    color: #212121;
    font-size: 1.4rem;
    font-weight: bold;
    margin: 0;
    text-align: left;
    line-height: 1.5;
}

/*---------------------------------
メモ関連
---------------------------------*/
/*  
notes-list
---------------------------------*/
.notes-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &::after {
        content: "";
        display: block;
        width: calc((100% - 48px) / 3);
        height: 0;
        @include tab {
            width: calc((100% - 48px) / 3);
        }
        @include sp {
            width: calc((100% - 24px) / 2);
        }
        @include se {
            content: none;
        }
    }
}
.section-title + .notes-list {
    margin-top: 24px;
}
.notes-list + .section-title {
    margin-top: 32px;
}
/*  
notes-list-button
---------------------------------*/
.notes-list-button {
    display: inline-block;
    margin-left: 16px;
    @include sp {
        display: table;
        margin-left: 0;
    }
    a {
        color: #9e9e9e;
        font-size: .8rem;
        font-weight: normal;
        line-height: 1.2;
        font-feature-settings: "palt";
        letter-spacing: .1em;
        display: flex;
        align-items: center;
        transition-duration: .2s;
        .material-icons {
            font-size: inherit;
        }
    }
    a:hover {
        color: #313131;
    }
}
/*  
note
---------------------------------*/
.note {
    width: calc((100% - 48px) / 3);
    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin-bottom: 24px;
    background: #fff;
    border-radius: 0.25rem;
    padding-bottom: 16px;
    border-radius: 8px;
    overflow: hidden;
    &:hover {
        .note__title {
            color: #096fc8;
        }
    }
    @include sp {
        width: calc((100% - 24px) / 2);
    }
    @include se {
        width: 100%;
    }
    .note__figure {
        width: 100%;
        margin-bottom: 16px;
        img {
            width: 100%;
        }
    }
    .note__title {
        color: #212121;
        font-size: 1rem;
        font-weight: bold;
        line-height: 1.5;
        margin-bottom: 12px;
        padding: 0 16px;
        transition: .2s;
    }
    .note__user {
        display: flex;
        align-items: center;
        margin-top: auto;
        padding: 0 16px;
        .thumbnail {
            width: 32px;
            height: 32px;
            overflow: hidden;
            border-radius: 50%;
            border: 1px solid #eee;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .username {
            margin-left: 12px;
            color: #9e9e9e;
            font-size: .85rem;
        }
    }
}
.note + .note {
}

/*  
note-detail
---------------------------------*/
.note-detail {
    border-radius: 12px;
    overflow: hidden;
    .note-detail__figure {
        iframe {
            vertical-align: bottom;
        }
    }
    .note-detail__info {
        background: #fff;
        padding: 56px 56px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @include tab {
            padding: 40px 40px;
        }
        @include sp {
            padding: 24px 24px;
        }
    }
    .note-detail__nav-button {
        position: absolute;
        top: 48px;
        right: 56px;
        color: #9e9e9e;
        cursor: pointer;
        transition: .2s;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        @include tab {
            top: 32px;
            right: 40px;
        }
        @include sp {
            top: 16px;
            right: 24px;
        }
        &:hover {
            color: #313131;
            background: #F6F9F9;
        }
        .material-icons {
        }
    }
    .note-detail__nav-bg {
        // background: transparent;
        background: rgba(0,0,0,.2);
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 96;
        pointer-events: none;
        opacity: 0;
        visibility: hidden;
        transition: .2s;
        &.is-active {
            opacity: 1;
            pointer-events: all;
            visibility: visible;
        }
    }
    .note-detail__nav {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        position: absolute;
        top: 56px;
        right: 40px;
        z-index: 97;
        &.is-active {
            opacity: 1;
            pointer-events: all;
            visibility: visible;
        }
    }
    .note-detail__nav__items {
        border: 1px solid #eee;
        box-shadow: 0 2px 4px rgba(0,0,0,.1);
        width: 80px;

    }
    .note-detail__nav__item {
        display: block;
        background: #fff;
        padding: 8px 12px;
        color: #9e9e9e;
        text-align: center;
        font-size: .9rem;
        line-height: 1.2;
        border: none;
        transition-duration: .2s;
        cursor: pointer;
        &:hover {
            color: #313131;
        }
    }
    .note-detail__nav__item + .note-detail__nav__item {
        border-top: 1px solid #eee;
    }
    .note-detail__nav__item.edit {
    }
    .note-detail__nav__item.delete {
        padding: 0;
        input[type=submit] {
            width: 100%;
            height: 100%;
            padding: 8px 12px;
            display: block;
            color: #9e9e9e;
            transition-duration: inherit;
            cursor: pointer;
            &:hover {
                color: #313131;
            }
        }
    }
    .note-detail__tags {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 16px;
    }
    .note-detail__tag {
        display: inline-block;
        padding: 6px 12px;
        color: #212121;
        background: #eaeaea;
        margin-right: 8px;
        border-radius: 6px;
        line-height: 1.2;
        font-size: .8rem;
        &::before {
            content: "#";
        }
    }
    .note-detail__title {
        color: #212121;
        font-size: 1.6rem;
        margin: 0 0;
    }
    .note-detail__content {
        color: #515151;
        font-size: 1rem;
        margin: 24px 0 0;
        p {
            line-height: 1.7;
        }
    }
    .note-detail__user {
        display: inline-flex;
        align-items: center;
        transition-duration: .2s;
        margin-top: 24px;
        &:hover {
            .username {
                color: #313131;
            }
        }
        .thumbnail {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .username {
            color: #9e9e9e;
            font-size: 1rem;
            margin-left: 8px;
        }
    }
}
/*  
note-create
---------------------------------*/
.note-create {
    width: 90%;
    max-width: 640px;
    background: #fff;
    padding: 40px 40px;
    margin: 32px auto 0;
    border-radius: 12px;
    overflow: hidden;
    @include sp {
        width: 100%;
    }
}
/*  
note-edit
---------------------------------*/
.note-edit {
    position: fixed;
    width: 90%;
    max-width: 640px;
    overflow-y: scroll;
    top: 24px;
    left: 50%;
    bottom: 24px;
    transform: translateX(-50%);
    background: #fff;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    z-index: 100;
    // border-radius: 12px;
    @include sp {
        width: 100%;
    }
    &.is-active {
        opacity: 1;
        pointer-events: all;
        visibility: visible;
    }
    .note-edit__inner {
        padding: 40px 40px;
        position: relative;

    }
    .note-edit__close {
        position: absolute;
        top: 20px;
        right: 20px;
        color: #9e9e9e;
        cursor: pointer;
        transition: .2s;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        @include tab {
            top: 32px;
            right: 40px;
        }
        @include sp {
            top: 16px;
            right: 24px;
        }
        &:hover {
            color: #313131;
            background: #F6F9F9;
        }
        .material-icons {
        }
    }
}
/*  
note-edit-bg
---------------------------------*/
.note-edit-bg {
    background: rgba(0, 0, 0, .1);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: .2s;
    &.is-active {
        opacity: 1;
        pointer-events: all;
        visibility: visible;
    }
}

/*  
search-form
---------------------------------*/
.search-form {
    display: block;
    margin: 0 auto 48px;
    position: relative;
    @include sp {
        margin-bottom: 32px;
    }
    .search-form__input {
        display: block;
        width: 100%;
        margin-top: 8px;
        border: 2px solid transparent;
        font-size: 16px;
        padding: 8px 12px;
        background: #F6F9F9;
        color: #313131;
        border-radius: 6px;
        &:focus {
            border-color: #096fc8;
        }
        &.is-invalid {
            border-color: #e15036;
        }
    }
    .search-form__button {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 100%;
        width: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
    }
}
/*  
search-form-message
---------------------------------*/
.search-form-message {
    span {
        font-size: 1.2rem;
        font-weight: bold;
    }
}


/*---------------------------------
ユーザーページ
---------------------------------*/
/*  
section.UserProfile
---------------------------------*/
.section.UserProfile {
    padding: 40px 24px;
    .section__inner {
        border-radius: 12px;
        display: flex;
        background: #fff;
        overflow: hidden;
        padding: 0;
        @include sp {
            display: block;
        }
        .user-profile {
            width: 40%;
            @include sp {
                width: 100%;
            }
        }
        .user-notes {
            width: 60%;
            border-left: 2px solid #eee;
            @include sp {
                width: 100%;
                border-top: 2px solid #eee;
                border-left: none;
            }
        }
    }
}
/*  
user-profile
---------------------------------*/
.user-profile {
    padding: 40px 40px;
    @include sp {
        display: flex;
        padding: 24px 24px;
        .user-profile__main {
            width: 35%;
        }
        .user-profile__sub {
            width: 65%;
        }
    }
    @include se {

    }
    .thumbnail {
        width: 160px;
        height: 160px;
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: 16px;
        @include tab {
            width: 140px;
            height: 140px;
        }
        @include sp {
            width: 25vw;
            height: 25vw;
            margin: auto;
        }
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    .name {
        font-size: 2rem;
        color: #212121;
        margin: 0 0 12px;
        grid-area: name;
        @include sp {
            font-size: 1.6rem;
        }
    }
    .username {
        color: #616161;
        font-size: .5em;
        display: block;
        margin-top: 4px;
    }
    .introduction {
        font-size: .9rem;
        color: #515151;
        margin-bottom: 16px;
    }
    .registration {
        font-size: .65rem;
        color: #919191;
    }
    .edit-button {
        display: table;
        font-size: .8rem;
        border: 1px solid #212121;
        color: #212121;
        padding: 6px 24px;
        border-radius: 99rem;
        @include hover {
            transition-duration: .2s;
            &:hover {
                background: #212121;
                color: #fff;
            }
        }
        @include sp {
            padding: 6px 12px;
        }
        i {
            margin-right: 4px;
            vertical-align: middle;
            display: inline-block;
            font-size: 1.2rem;
        }
    }
}
/*  
user-notes
---------------------------------*/
.user-notes {
    padding: 40px 40px;
    @include sp {
        padding: 24px 24px;
    }
    .notes-list {
        &:after {
            width: calc((100% - 24px) / 2);
            @include se {
                width: 100%;
            }
        }
    }
    .note {
        width: calc((100% - 24px) / 2);
        border-radius: 5px;
        position: relative;
        padding-bottom: 12px;
        border: 1px solid #e6e6e6;
        @include hover {
            transition-duration: .2s;
            &:hover {
                box-shadow: 0 1px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.12); 
            }
        }
        @include se {
            width: 100%;
        }
    }
    .note__figure {  
    }
    .note__title {
        font-size: .9rem;
        margin-bottom: 0;
        padding: 0 12px;
    }
    .note__tags {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 8px;
        padding: 0 12px;
    }
    .note__tag {
        display: inline-block;
        padding: 2px 8px;
        color: #212121;
        background: #eaeaea;
        margin-right: 8px;
        border-radius: 6px;
        line-height: 1.2;
        font-size: .6rem;
        &::before {
            content: "#";
        }
    }
}
/*  
section.UserEdit
---------------------------------*/
.section.UserEdit {
    padding: 40px 0;
    .section__inner {
        border-radius: 12px;
        overflow: hidden;
        width: 90%;
        max-width: 640px;
        background: #fff;
        margin: auto;
        padding: 40px 40px;
        @include sp {
            padding: 24px 24px;
        }
    }
}


/*  
form
---------------------------------*/
.form {
    .form__head {
        font-size: 1.4rem;
        font-weight: bold;
        color: #212121;
    }
    .form__item {
        margin-top: 24px;
        display: block;
        label {
            display: block;
            font-weight: bold;
            font-size: 1rem;
            color: #212121;
            .instruction {
                font-size: .8em;
            }
            .is-required {
                color: #e15036;
                font-size: .6em;
                margin-left: 8px;
                font-weight: normal;
            }
        }
        input[type=text],
        input[type=email] {
            display: block;
            width: 100%;
            margin-top: 8px;
            border: 2px solid transparent;
            font-size: 16px;
            padding: 8px 12px;
            background: #F6F9F9;
            color: #313131;
            border-radius: 6px;
            &:focus {
                border-color: #096fc8;
            }
            &.is-invalid {
                border-color: #e15036;
            }
        }
        input[type=number] {
            display: inline-block;        
            margin-top: 8px;
            border: 2px solid transparent;
            font-size: 16px;
            padding: 8px 12px;
            background: #F6F9F9;
            width: 64px;
            color: #313131;
            border-radius: 6px;
            text-align: center;
            &:focus {
                border-color: #096fc8;
            }
            &.is-invalid {
                border-color: #e15036;
            }
        }
        textarea {
            display: block;
            width: 100%;
            height: 120px;
            margin-top: 12px;
            border: 2px solid transparent;
            font-size: 16px;
            padding: 8px 12px;
            background: #F6F9F9;
            color: #313131;
            border-radius: 6px;
            &:focus {
                border-color: #096fc8;
            }
            &.is-invalid {
                border-color: #e15036;
            }
        }
        .checkbox-group {
            display: inline-flex;
            align-items: center;
            margin-right: 12px;
            margin-top: 12px;
            input[type=checkbox] {
                margin-right: 4px;
            }
            label {
                font-size: .9rem;
                font-weight: normal;
                color: #515151;
            }
        }
    }
    .form__item:first-of-type {
        margin-top: 0;
    }
    .form__item__input {
        margin-top: 12px;
        font-size: 1rem;
        line-height: 1.8;
        color: #313131;
    }
    .form__item__description {
        margin-top: 4px;
        font-size: .75rem;
        line-height: 1.6;
        color: #717171;
    }
    label.form__item__check-label {
        font-weight: normal;
        font-size: .9rem;
        color: #313131;
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        &.remember-me {
            font-size: .8rem;
            color: #616161;
        }
    }
    .form__item__check-input {
        margin-right: 6px;
        margin-bottom: 2px;
    }
    .form__item__password {
        position: relative;
        margin-top: 8px;
        input[type=password] {
            display: block;
            width: 100%;
            border: 2px solid transparent;
            font-size: 16px;
            padding: 8px 12px;
            background: #F6F9F9;
            color: #313131;
            border-radius: 6px;
            &:focus {
                border-color: #096fc8;
            }
            &.is-invalid {
                border-color: #e15036;
            }
        }
        .js-password-toggle {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 12px;
            cursor: pointer;
            color: #999;
            display: inline-block;
            vertical-align: middle;
        }
    }
    .form__error {
        color: #e15036;
        font-size: .8rem;
        margin-top: 4px;
        &::before {
            content: "※";
        }
    }
    .form__button {
        border-radius: 99rem;
        background: #096fc8;
        border: 1px solid #096fc8;
        color: #fff;
        padding: 0 40px;
        font-size: .95rem;
        height: 36px;
        line-height: 36px;
        margin-top: 24px;
        @include hover {
            transition: .2s;
            &:hover {
                color: #096fc8;
                background: #fff;
            }
        }
    }
    .form__button-subtext {
        margin-top: 16px;
        color: #616161;
        font-size: .85rem;
        a {
            text-decoration: underline;
            display: inline-block;
            color: #0066c0;
        }
        @include hover {
            transition-duration: .2s;
            a:hover {
                text-decoration: none;
            }
        }
    }
    .form__cancel {
        display: inline-block;
        color: #616161;
        font-size: .9rem;
        margin-left: 24px;
        vertical-align: middle;
        cursor: pointer;
        @include hover {
            transition: .2s;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .thumbnail-preview {
        overflow: hidden;
        width: 160px;
        height: 160px;
        position: relative;
        border-radius: 50%;
        &::after {
            content: "";
            background: rgba(0,0,0,.5);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition-duration: .3s;
            z-index: 2;
            pointer-events: none;
        }
        &:hover:after {
            opacity: 1;
        }
        &:hover {
            .thumbnail-preview__icon {
                opacity: 1;
            }
        }
        .thumbnail-preview__icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 40px;
            height: 40px;
            display: block;
            z-index: 3;
            opacity: 0;
            pointer-events: none;
            transition-duration: .3s;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        @include hover {
            &:hover {
                box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); 
            }
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        input[type=file] {
            position: absolute;
            opacity: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            cursor: pointer;
            display: block;
        }
    }

    .form__message {
        font-size: .9rem;
        color: #e15036;
        text-align: center;
        text-decoration: underline;
        @include sp {
            text-align: left;
        }
    }

}

/*  
section.ContactForm
---------------------------------*/
.section.ContactForm {
    .section__inner {
        max-width: 640px;
        margin: auto;
    }
    .section-title + p,
    .section-title + .contact-form {
        margin-top: 32px;
    }
}
.contact-form {
}


/*  
section.Signup
---------------------------------*/
.signup {
    display: flex;
    justify-content: space-between;
    @include sp {
        flex-direction: column;
    }
}
.signup__introduction {
    width: 100%;
    padding: 32px 0;
    @include sp {
        padding-top: 0;
    }
    .title {
        font-size: 1.8rem;
        font-weight: bold;
        margin: 0;
        color: #212121;
        text-transform: uppercase;
    }
    .description {
        margin-top: 40px;
        @include sp {
            margin-top: 32px;
        }
        p {
            margin: 0;
            color: #616161;
            font-size: .9rem;
            line-height: 2;
        }
        p + p {
            margin-top: 24px;
            @include sp {
                margin-top: 16px;
            }
        }
    }
}
.signup__form {
    width: 100%;
    background: #fff;
    padding: 32px 32px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.12);
    margin-left: 32px;
    @include sp {
        margin-left: 0;
    }
}

/*  
section.Login
---------------------------------*/
.login-form {
    margin: auto;
    width: 100%;
    max-width: 480px;
    background: #fff;
    padding: 32px 32px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.12);
}